* {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background: #f22e7d;
    height: 115px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header h1 {
    color: white;
    text-shadow: 3px 3px #4d4557;
    font: normal 295% "century gothic", arial, sans-serif;
  }
  
  .header h2 {
    color: white;
    font: normal 115% "century gothic", arial, sans-serif;
  }
  
  h3 {
    color: #783852;
    font: normal 110% arial, sans-serif;
    font-weight: bold;
  }
  p {
     font-size: 19px;
    margin-top: 1px;
    color: #783852;
  }
  
  ul {
   font-size: 19px;
    color: #783852;
    list-style-type: none;
  }
  /*------------Search------------------*/
  
  #search-btn {
    background: #f7b2d8;
    color: #9b4222;
    font: "trebuchet ms", trebuchet;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    border: 0 none;
    font-weight: bold;
  }
  #search-btn:hover {
    background: #d169e0;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
  }
  
  #search-box {
    background: white;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    border: 0 none;
    width: 360px;
  }
  
  .search {
    margin-bottom: 2px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .search a {
    margin-top: -9px;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: white;
  }
  .search a:hover {
    color: #ffcffa;
  }
  .registrationButtons {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .registrationButtons a {
  color: white;
  padding: 5px;
  padding-bottom: 9px;
  }
  /* ------------------ top MENU ----------------- */
  
  .navigation {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background: #d1cdfa;
    border-bottom: 3px solid #f22e7d;
    background-color: #f7b2d8;
  }
  
  .navigation ul {
    display: flex;
    list-style: none; /*убираем маркеры списка*/
    margin: -6px; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    height: 58px;
    length: 50px;
  }
  .navigation a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    padding: 1rem 3rem;
    width: 49px;
    display: block;
    color: #9b4222;
    background: #ffdbef;
    border: 2px solid #bf3069;
    border-radius: 7px;
  }
  .navigation a:hover {
    color: white;
    background: #d169e0;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navigation li {
    font-color: white;
    length: 50px;
    margin-right: 8px;
  }
  
  
  /*-----------------------------Main-----------------------------*/
  .main {
  
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f7b2d8;
    padding: 15px;
       border: 1px solid #ccc;
    border-radius: 7px;
     margin-top: 27px;
     margin-bottom: 27px;
  }
  
  body {
    background-color: #ffdbef;
    line-height: 1.5;
  }
  
  footer {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #f22e7d;
      color: white;
      text-align: center;
  }
  
  /*-----------------Registration--------------------*/
  
  .registration {
    background-color: #ffdbef;
   display: flex;
   flex-direction: column;
  }
  
  .registration h2 {
    color: grey;
    text-shadow: 2px 2px #4d4557;
    font: normal 250% "century gothic", arial, sans-serif;
  }
  
  hr {
    margin-top: 11px;
    margin-bottom: 15px;
  }
  
  /*-----------------buttons--------------------*/
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  .registration input[type="submit"] {
    width: 450px;
    background-color: #f22e7d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .registration input[type="submit"]:hover {
    background-color: #d169e0;
  }
  
  .registration {
    border-radius: 5px;
    padding: 20px;
  }
  
  /*-----------------Birthday--------------------*/
  
  
  .register {
    display:flex;
    justify-content: center;
  }
  
  .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: #78778f;
      color: white;
      text-align: center;
  }
  
  /*-------------------------Card--------------------------*/
    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      align-content: flex-start;
    }
    .card {
      background-color: #f2dfe9;
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      width: 250px;
      height: 400px;
      margin: 10px;
      padding-top: 8px;
      padding-bottom: 5px;
      border: 1px solid #ccc;
      box-shadow: 3px 2px 6px 0px  rgba(0,0,0,0.3);
    } 
    .card img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 4px;
      width: 220px;
      height: 200px;
      max-width: 100%;
    }
    .card .text {
      padding: 0 20px 20px;
    }
     .card input[type="submit"] {
      align-self:flex-end;
      margin-left:auto;
      margin-right:auto;
      background: #f22e7d;
      border: 1;
      padding-bottom: 12px;
      color: white;
      padding: 8px;
      width: 100%;
        border-radius: 7px;
      }
      
      .card input[type="submit"]:hover {
    color: white;
    background: #d169e0;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }